{
  "openapi": "3.1.0",
  "info": {
    "title": "Wenbu · 问卜",
    "version": "1.0.0",
    "description": "Free, transparent cultural calculation tools. No predictive validity claims.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://wenbu.genedai.me"
    }
  ],
  "paths": {
    "/api/v1/bazi": {
      "post": {
        "operationId": "calculate_bazi",
        "summary": "Calculate or draw bazi symbols",
        "description": "No authentication. Cultural reflection, not established prediction. JSON body capped at 8192 bytes. Rate limits apply.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "date": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                    "description": "Gregorian date, 1901–2099"
                  },
                  "time": {
                    "anyOf": [
                      {
                        "type": "string",
                        "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "default": null
                  },
                  "timezone": {
                    "type": "string",
                    "default": "Asia/Shanghai",
                    "maxLength": 80
                  },
                  "dayBoundary": {
                    "type": "string",
                    "enum": ["midnight", "zi"],
                    "default": "midnight"
                  },
                  "solarTime": {
                    "type": "boolean",
                    "default": false
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "locale": {
                    "type": "string",
                    "enum": ["zh", "en"],
                    "default": "zh"
                  }
                },
                "required": ["date"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured result including method and conventions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["kind", "version", "method"],
                  "properties": {
                    "kind": {
                      "const": "bazi"
                    },
                    "version": {
                      "type": "string"
                    },
                    "method": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON"
          },
          "403": {
            "description": "Browser origin rejected"
          },
          "413": {
            "description": "Request too large"
          },
          "415": {
            "description": "JSON content type required"
          },
          "422": {
            "description": "Invalid input or ambiguous date/time"
          },
          "429": {
            "description": "Request limit reached"
          }
        }
      }
    },
    "/api/v1/ziwei": {
      "post": {
        "operationId": "calculate_ziwei",
        "summary": "Calculate or draw ziwei symbols",
        "description": "No authentication. Cultural reflection, not established prediction. JSON body capped at 8192 bytes. Rate limits apply.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "date": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                    "description": "Gregorian date, 1901–2099"
                  },
                  "time": {
                    "type": "string",
                    "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                  },
                  "sex": {
                    "type": "string",
                    "enum": ["male", "female"]
                  },
                  "locale": {
                    "type": "string",
                    "enum": ["zh", "en"],
                    "default": "zh"
                  }
                },
                "required": ["date", "time", "sex"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured result including method and conventions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["kind", "version", "method"],
                  "properties": {
                    "kind": {
                      "const": "ziwei"
                    },
                    "version": {
                      "type": "string"
                    },
                    "method": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON"
          },
          "403": {
            "description": "Browser origin rejected"
          },
          "413": {
            "description": "Request too large"
          },
          "415": {
            "description": "JSON content type required"
          },
          "422": {
            "description": "Invalid input or ambiguous date/time"
          },
          "429": {
            "description": "Request limit reached"
          }
        }
      }
    },
    "/api/v1/iching": {
      "post": {
        "operationId": "cast_iching",
        "summary": "Calculate or draw iching symbols",
        "description": "No authentication. Cultural reflection, not established prediction. JSON body capped at 8192 bytes. Rate limits apply.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "lines": {
                    "type": "array",
                    "minItems": 6,
                    "maxItems": 6,
                    "items": {
                      "type": "integer",
                      "enum": [6, 7, 8, 9]
                    },
                    "description": "Bottom to top. Omit for cryptographic random three-coin casting."
                  },
                  "locale": {
                    "type": "string",
                    "enum": ["zh", "en"],
                    "default": "zh"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured result including method and conventions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["kind", "version", "method"],
                  "properties": {
                    "kind": {
                      "const": "iching"
                    },
                    "version": {
                      "type": "string"
                    },
                    "method": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON"
          },
          "403": {
            "description": "Browser origin rejected"
          },
          "413": {
            "description": "Request too large"
          },
          "415": {
            "description": "JSON content type required"
          },
          "422": {
            "description": "Invalid input or ambiguous date/time"
          },
          "429": {
            "description": "Request limit reached"
          }
        }
      }
    },
    "/api/v1/tarot": {
      "post": {
        "operationId": "draw_tarot",
        "summary": "Calculate or draw tarot symbols",
        "description": "No authentication. Cultural reflection, not established prediction. JSON body capped at 8192 bytes. Rate limits apply.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "count": {
                    "type": "integer",
                    "enum": [1, 3],
                    "default": 3
                  },
                  "reversals": {
                    "type": "boolean",
                    "default": true
                  },
                  "locale": {
                    "type": "string",
                    "enum": ["zh", "en"],
                    "default": "zh"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured result including method and conventions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["kind", "version", "method"],
                  "properties": {
                    "kind": {
                      "const": "tarot"
                    },
                    "version": {
                      "type": "string"
                    },
                    "method": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON"
          },
          "403": {
            "description": "Browser origin rejected"
          },
          "413": {
            "description": "Request too large"
          },
          "415": {
            "description": "JSON content type required"
          },
          "422": {
            "description": "Invalid input or ambiguous date/time"
          },
          "429": {
            "description": "Request limit reached"
          }
        }
      }
    },
    "/api/v1/interpret": {
      "post": {
        "operationId": "interpret_reading",
        "summary": "Optional metered AI interpretation",
        "description": "User must explicitly consent. Recomputes supplied chart data. Five attempts per network per Shanghai day; global budget 1000 attempts. Upstream attempts count even if they fail. Tarot input is cards [{id:0..77,reversed:boolean}] with 1 or 3 unique cards. Other inputs follow their calculation schema; I Ching requires the original lines.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": ["bazi", "ziwei", "iching", "tarot"]
                  },
                  "input": {
                    "type": "object"
                  },
                  "question": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 600
                  },
                  "context": {
                    "type": "string",
                    "maxLength": 1600,
                    "default": ""
                  },
                  "locale": {
                    "type": "string",
                    "enum": ["zh", "en"],
                    "default": "zh"
                  },
                  "consent": {
                    "const": true
                  }
                },
                "required": ["kind", "input", "question", "consent"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validated structured interpretation, remaining allowance and requested/served model provenance"
          },
          "422": {
            "description": "Invalid input or missing consent"
          },
          "429": {
            "description": "Daily allowance or global budget reached"
          },
          "502": {
            "description": "Incomplete upstream response"
          },
          "503": {
            "description": "AI unavailable"
          }
        }
      }
    }
  }
}
